spring:
  datasource:
    url: jdbc:mysql://localhost:3306/elams_dev?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  flyway:
    enabled: true

  redis:
    host: localhost
    port: 6379
security:
  jwt:
    secret: YOUR_SUPER_SECRET_KEY_32_CHAR_MINIMUM_123456
    access-token-expiration: 3600000   # 1 hour
